# Visual Studio
.vs/
*.user
*.userosscache
*.sln.docstates

# Build results
[Bb]in/
[Oo]bj/
[Oo]ut/
build/

# NuGet Packages
*.nuget.props
*.nuget.targets
packages/

.idea/
*.sln.DotSettings.user

.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini